@import url(http://fonts.googleapis.com/css?family=Raleway|Lobster);

body {
	font-family: 'Raleway', sans-serif;
	background-image: url('https://farm4.staticflickr.com/3341/3195817888_820e25dcc3_b.jpg');
}

h1, h3 {
	font-family: 'Lobster', cursive;
	text-align: center;
	color: white;
}

.container {
	width: 75%;
	background-color: white;
}

ul {
    list-style-type: none;

}

.title {
	background-color: black;
}